django>=4.2.0
django-widget-tweaks>=1.4.12
django-allauth>=0.54.0
torch>=2.0.0
torchvision>=0.15.0
deepface>=0.0.79
numpy>=1.24.0
pandas>=2.0.0
pillow>=9.5.0
opencv-python>=4.7.0
matplotlib>=3.7.1
seaborn>=0.12.2
scikit-learn>=1.2.2